body, html {
  overflow-x: hidden;
  background-attachment: fixed;
}

.top {
	z-index: 1;
}

.bottom {
  width: 100%;
}

.code-library {
	height: 100vh;
	width: 100vw;;
	background-image: url("./images/code8.gif");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.bg {
	background-color: #E9E9EB;
}

.color {
	color: #150F38
}

.font-code {
	font-family: 'Source Code Pro', monospace;
	color: #150F38
}

.shadowed {
	filter: drop-shadow(0.10rem 0.10rem 0.10rem rgb(105, 105, 105));
}

.card {
  min-width: 180px;
}

.contain {
  height: 300px;
  width: 1000px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}

.cards {
  display: flex;
  height: 280px;
  width: 18rem;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -.3rem 0 5rem #000;
  margin-left: -50px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin-left: 1px;
}

.slide-left-0 {
  animation-name: slide-left-0;
  animation-duration: 1s;
}
.slide-right-0 {
  animation-name: slide-right-0;
  animation-duration: 1s;
}
.slide-left-1 {
  animation-name: slide-left-1;
  animation-duration: 1s;
}
.slide-right-1 {
  animation-name: slide-right-1;
  animation-duration: 1s;
}
.slide-left-2 {
  animation-name: slide-left-2;
  animation-duration: 1s;
}
.slide-right-2 {
  animation-name: slide-right-2;
  animation-duration: 1s;
}
.slide-left-3 {
  animation-name: slide-left-3;
  animation-duration: 1s;
}
.slide-right-3 {
  animation-name: slide-right-3;
  animation-duration: 1s;
}
.slide-left-4 {
  animation-name: slide-left-4;
  animation-duration: 1s;
}
.slide-right-4 {
  animation-name: slide-right-4;
  animation-duration: 1s;
}

.carousel-left-1 {
  margin-left: -100%;
}
.carousel-left-2 {
  margin-left: -200%;
}
.carousel-left-3 {
  margin-left: -300%;
}
.carousel-left-4 {
  margin-left: -400%;
}
.carousel-left-5 {
  margin-left: -500%;
}

.carousel-right-1 {
  margin-left: -500%;
}
.carousel-right-2 {
  margin-left: -400%;
}
.carousel-right-3 {
  margin-left: -300%;
}
.carousel-right-4 {
  margin-left: -200%;
}
.carousel-right-5 {
  margin-left: -100%;
}

@keyframes slide-left-0 {
  from {
    transform: translateX(0%);
    opacity: 0;
  }

  to {
    transform: translateX(-100%);
    opacity: .5;
  }
}

@keyframes slide-right-0 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: .5;
  }
}
@keyframes slide-left-1 {
  from {
    transform: translateX(0%);
    opacity: 0;
  }

  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-right-1 {
  to {
    transform: scale(2);
    opacity: 0;
  }

  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}
@keyframes slide-left-2 {
  from {
    transform: translateX(0%);
    opacity: 0;
  }

  to {
    transform: translateX(300%);
  }
}
@keyframes slide-right-2 {
  from {
    transform: translateX(-300%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes slide-left-3 {
  from {
    transform: translateX(0%);
    opacity: 0;
  }

  to {
    transform: translateX(400%);
  }
}
@keyframes slide-right-3 {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes slide-left-4 {
  from {
    transform: translateX(0%);
    opacity: 0;
  }

  to {
    transform: translateX(500%);
  }
}
@keyframes slide-right-4 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
  }
}


/*
.cards:not(:first-child) {
    margin-left: -50px;
}

.cards:hover {
  transform: scale(1.5);
  z-index: 1;
  transition: 0.4s ease-out;
}

.cards:hover ~ .cards {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
} */

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

h1 {
	font-family: 'Source Code Pro', monospace;
}

.top {
	z-index: 1;
}

video {
	height: 100vh;
	width: 100vw;
}

.pointer {
	cursor: pointer;
}


.flex {
  display: flex;
}

.carousel-slide {
  margin: 5px 5px;
}

iframe:nth-of-type(5n) {
  margin-right: 20px;
}

.glass {
  width: 22.5rem;
  /* height: auto; */
  box-shadow: 0 0 1.1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}

.bg {
  background:linear-gradient(45deg, #2F1C53, #A46DFF, #F6D1FD);
}

.shadow {
  box-shadow: 0 0 1.1rem 0 rgba(0, 0, 0, .2);
  border-radius: 6px;
}
