body, html {
  overflow-x: hidden;
}

.top {
	z-index: 1;
}

.code-library {
	height: 100vh;
	width: 100vw;;
	background-image: url("./images/code8.gif");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.bg {
	background-color: #E9E9EB;
}

.color {
	color: #150F38
}

.font-code {
	font-family: 'Source Code Pro', monospace;
	color: #150F38
}

.shadowed {
	filter: drop-shadow(0.10rem 0.10rem 0.10rem rgb(105, 105, 105));
}

.card {
  min-width: 180px;
}

.contain {
  height: 300px;
  width: 1000px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}

.cards {
  display: flex;
  height: 280px;
  width: 18rem;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -.3rem 0 5rem #000;
  margin-left: -50px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin-left: 1px;
}

.slide {
  animation-name: slide;
  animation-duration: 1s;
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.slide-out {
  animation-name: slide;
  animation-duration: 1s;
}

@keyframes slide-out {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: 100%;
    width: 300%;
  }
}


.cards:not(:first-child) {
    margin-left: -50px;
}

.cards:hover {
  transform: scale(1.5);
  z-index: 1;
  transition: 0.4s ease-out;
}

.cards:hover ~ .cards {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

h1 {
	font-family: 'Source Code Pro', monospace;
}

.top {
	z-index: 1;
}

video {
	height: 100vh;
	width: 100vw;
}

.pointer {
	cursor: pointer;
}

.blur {
  height: 200px;
  background: rgba(194, 194, 194, 0.4);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	border: none;
}

.carousel-wrapper {
  overflow: hidden;
  width: 90%;
  height: 97vh;
}

.carousel-wrapper * {
  box-sizing: border-box;
  height: 97vh;
}

.carousel {
  transform-style: preserve-3d;

}

.carousel-iframe {
  opacity: 0;
  position: absolute;
  top:0;
  width:100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel-iframe.intitial,
.carousel-photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel-iframe.prev,
.carousel-iframe.next {
  z-index: 800;
}
.carousel-iframe.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel-iframe.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

.carousel__button-prev,
.carousel__button-next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}
.carousel-button-prev {
  left:0;
}
.carousel-button-next {
  right:0;
}
.carousel-button-prev::after,
.carousel-button-next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel-button-next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
