body, html {
  overflow-x: hidden;
}

.top {
	z-index: 1;
}

.code-library {
	height: 100vh;
	width: 100vw;;
	background-image: url("./images/code8.gif");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.bg {
	background-color: #E9E9EB;
}

.color {
	color: #150F38
}

.font-code {
	font-family: 'Source Code Pro', monospace;
	color: #150F38
}

.shadowed {
	filter: drop-shadow(0.10rem 0.10rem 0.10rem rgb(105, 105, 105));
}

.card {
  min-width: 180px;
}

.contain {
  height: 300px;
  width: 1000px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}

.cards {
  display: flex;
  height: 280px;
  width: 18rem;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -.3rem 0 5rem #000;
  margin-left: -50px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin-left: 1px;
}

.slide-0 {
  animation-name: slide-0;
  animation-duration: .2s;
}
.slide-1 {
  animation-name: slide-1;
  animation-duration: .2s;
}
.slide-2 {
  animation-name: slide-2;
  animation-duration: .2s;
}
.slide-3 {
  animation-name: slide-3;
  animation-duration: .2s;
}
.slide-4 {
  animation-name: slide-4;
  animation-duration: .2s;
}

.carousel-left-0 {
  margin-left: -100%;
}
.carousel-left-1 {
  margin-left: -200%;
}
.carousel-left-2 {
  margin-left: -300%;
}
.carousel-left-3 {
  margin-left: -400%;
}
.carousel-left-4 {
  margin-left: -500%;
}

.carousel-right-0 {
  margin-left: 100%;
}
.carousel-right-1 {
  margin-left: 200%;
}
.carousel-right-2 {
  margin-left: 300%;
}
.carousel-right-3 {
  margin-left: 400%;
}
.carousel-right-4 {
  margin-left: 500%;
}

@keyframes slide-1 {
  to {
    margin-left: -100%;
    opacity: 0;
  }
}
@keyframes slide-2 {
  to {
    margin-left: -200%;
    opacity: 0;
  }
}
@keyframes slide-3 {
  to {
    margin-left: -300%;
    opacity: 0;
  }
}
@keyframes slide-4 {
  to {
    margin-left: -400%;
    opacity: 0;
  }
}
@keyframes slide-5 {
  to {
    margin-left: -500%;
    opacity: 0;
  }
}



.cards:not(:first-child) {
    margin-left: -50px;
}

.cards:hover {
  transform: scale(1.5);
  z-index: 1;
  transition: 0.4s ease-out;
}

.cards:hover ~ .cards {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

h1 {
	font-family: 'Source Code Pro', monospace;
}

.top {
	z-index: 1;
}

video {
	height: 100vh;
	width: 100vw;
}

.pointer {
	cursor: pointer;
}

.blur {
  height: 200px;
  background: rgba(194, 194, 194, 0.4);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	border: none;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: between;
}

.carousel-slide {
  margin: 50px 45px;
}
